body{        
    margin:0;
}


/*NAVBAR ELEMENTS*/

#navbar{
    height:75px;
    width:100%;
    background-color:white;
    box-shadow:0px 0px 15px grey;
}

img {
    height:65px;
    padding:5px;
    float:left;
}

#navUl {
    float:left; 
    list-style-type: none;
}
    
.navLink{
    display:inline;
    font-family:calibri;
    font-weight:800;
    font-size:24px;
    list-style:none;
    padding:5px;    
}
   a{
    text-decoration:none; 
    color:#505050;
}

#navLink:hover{
    cursor: pointer;
}


/*BODY ELEMENTS*/
#wrapper{
    display:flex;
}


/*SIDEBAR*/
#sidebar {
    height:100vh;
    width:22vw;
    background:black;
    display:inline-block;
    float:left;
    margin:0;
    transition: all 0.3s;
    overflow:auto;
}

button {
    height:50px;
    width:100%;
    border:none;
    font-size:24px;
    display:block;
    text-align:left;    
}
    
button:hover {
    background-color:#DCDCDC;
}
    

    
li:hover {
    color:blue;
}
    
.list {
    height:35px;
    list-style:none;
    background-color:white;
    color:black;
    font-family:helvetica;
    font-size:18px;
    border-left:10px solid #808080;
    padding-left: 5px;
    padding-top:17.5px;
    display:block;
    cursor:pointer;
}

.area {
    display: none;
    margin:0;
    padding:0;
    }

.nameA1{
    background-color:rgb(24,185,239);
    font-size: 36px;
    font-family:Calibri;
    color:white;
}

/*CONTENTS*/
#contents {
height:100vh;
width:78vw;
background-color:white;
display:inline-block;
float:right;
overflow:auto;
}
