* {
margin:0;
}

.logo {
  max-height:35px;
  display:inline-block;
  margin:5px;
}

.logoParagraph {
 text-decoration:none; 

 font-family:calibri;
 font-size:35px;
 display:inline-block;
}

#homeDiv {
  display:inline-block;
  color:yellow;

}

header {
  height:65px;
  margin:0;
}


